image: jdrouet/docker-with-buildx:stable

variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2

services:
    - docker:dind

build:
    stage: build
    script:
        - export
        - docker version
        - docker buildx create --use


